<h2>Add</h2>
<hr>

<form [formGroup]="myForm">

  <div class="row g-3 align-items-center mb-3">

    <div class="col auto">
      <label class="col-form-label">Name: </label>
    </div>

    <div class="col auto">
      <input class="form-control"
        formControlName="name" />
    </div>

    <div class="col auto">
      <span *ngIf="fieldIsValid('name')"
        error-msg
        [color]="color"
        [text]="nameErrorMsg">
      </span>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary">
        Submit
      </button>
    </div>

    <div class="col ms-3">
      <button class="btn btn-primary"
        (click)="changeColor()">
        Color
      </button>
    </div>
  </div>



</form>


<h4 class="mt-5">FORM</h4>
<pre>VALUE: {{myForm.value | json }}</pre>
<pre>VALID: {{myForm.valid}}</pre>

<div class="row mt-5"
  *customIf="myForm.valid">
  <div class="col">
    <div class="alert alert-primary">
      Everything OK
    </div>
  </div>
</div>